@font-face {
    font-family: "njnaruto";
    src: url("../fonts/njnaruto.ttf");
} 
@font-face {
    font-family: "royalFighter";
    src: url("../fonts/Royal_Fighter_Demo.ttf");
}
@font-face {
    font-family: "bitWonder";
    src: url("../fonts/8_BIT_WONDER.TTF");
}
