/* CONFIGURACION DEL REGISTER INFO */
.user-data {
    display:grid;
    justify-content: center;
    /* justify-items: center; */
    /* grid-auto-rows: 40px; */
    grid-template-rows: repeat(10, 40px) 67px;
    grid-template-columns: 100%;
    background: gray;
    /* border-radius: 20px; */
    /* box-shadow: black 2px 2px 2px 2px; */
    border: dimgray solid 1px;
    margin: 0;
    padding-left: 20px;
}
.user-data form {
    margin: 0;
}
.user-data label {
    align-self: center;
    margin: 0;

}
.user-data input {
    justify-self: right;
    margin: 0;
}
.container-register_info {
    margin: 0;
    padding: 0;
}